{% extends 'base.html' %}

{% block left_items_in_nav %}
    {% if g.user %}
        <a href="{{ url_for('blog.logout') }}">
            <button type="button" class="btn navs-button">Logout</button>
        </a>
    {% endif %}
    {% if g.user %}
        <a href="{{ url_for('user.posts_list') }}">
            <button type="button" class="btn navs-button">My Posts</button>
        </a>
    {% endif %}
    {% if g.user %}
        <a href="{{ url_for('user.profile') }}">
            <button type="button" class="btn navs-button">My Profile</button>
        </a>
    {% endif %}
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" id="card-container">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5"><b>create post</b></h5>
                        <form action="{{ url_for('user.create') }}" method="post" enctype="multipart/form-data">
                            <div class="form-floating mb-3">
                                <label for="title">title</label>
                                <input type="text" class="form-control" name='title' id="title">
                            </div>
                            <div class="form-floating mb-3">
                                <label for="password">content of post</label>
                                <textarea name="body" id="body" rows='10' cols="33"></textarea>

                            </div>
                            <div class="form-floating mb-3">
                                <label for="image">image</label><br>
                                <input type="file" name="image" id="image" required
                                       style="border-top: 1px solid  black; padding-top: 2px">
                            </div>
                            <div class="form-floating mb-3">
                                <label for="tags">tags(seperate with ,)</label><br>
                                <input type="text" name="tags" id="tags"
                                       style="border-top: 1px solid  black; padding-top: 2px">
                                <label>suggeted tags</label>
                                <select name="tag_suggest" id="tags_suggest"
                                        style="border-top: 1px solid  black; padding-top: 2px">
                                    {% for tag in tags %}
                                        <option value="volvo">Volvo</option>
                                        <option value="{{ tag.name }}">{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-floating mb-3">
                                <label for="category">category</label><br>
                                <select name="category" id="category"
                                        style="border-top: 1px solid  black; padding-top: 2px">
                                    {% for cat in cats %}

                                        <option value="{{ cat.name }}">{{ cat.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Create
                                    Post
                                </button>
                            </div>
                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
