{% extends 'base.html' %}

{% block title %}
    WebBlog | Home
{% endblock %}

{% block left_items_in_nav %}
    {% if g.user %}
        <a href="{{ url_for('user.create') }}">
        <button type="button" class="btn navs-button">New</button>
    </a>
    {% endif %}

{% endblock %}

{% block right_items_in_nav %}

    <form class="form-inline search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="button">Search</button>
    </form>

{% endblock %}
