{% extends 'base.html' %}

{% block title %}
    WebBlog | Home
{% endblock %}

{% block left_items_in_nav %}
    {% if g.user %}
        <a href="{{ url_for('user.create') }}">
            <button type="button" class="btn navs-button">New</button>
        </a>
    {% endif %}
    {% if g.user %}
        <a href="{{ url_for('user.posts_list') }}">
            <button type="button" class="btn navs-button">My Posts</button>
        </a>
    {% endif %}
    {% if g.user %}
        <a href="{{ url_for('user.profile') }}">
            <button type="button" class="btn navs-button">My Profile</button>
        </a>
    {% endif %}

{% endblock %}

{% block right_items_in_nav %}

    <form class="form-inline search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="button">Search</button>
    </form>

{% endblock %}


{% block main %}

<br><br>
<p>tags</p>
<table id="table_tag" class="table-bordered">

</table>
<br><br>
<p>categories</p>

<table id="table_cat" class="table-bordered">

</table>
<script>
    $.ajax({
        url: "/tags-list/",
        type: "GET",

        success: function (response) {
            console.log(response);

            for (let i = 0; i < response.length; i++) {
                let login = 'login';
                console.log(response[i])
                let tr_elem = $('<tr></tr>').appendTo('#table_tag')
                tr_elem.append(`<td onclick="redirectTo('${response[i].id}');" style="color: red" style="color: red">${response[i].name}</td>`);
            }
        }

    })
    $.ajax({
        url: "/categories-list/",
        type: "GET",

        success: function (response) {
            console.log(response);

            for (let i = 0; i < response.length; i++) {
                console.log(response[i])
                let tr_elem = $('<tr></tr>').appendTo('#table_cat')
                tr_elem.append(`<td onclick="redirectToCat('${response[i].id}');">${response[i].name}</td>`);
                for (let j = 0; j < response[i].children.length; j++) {
                    console.log(response[i].children[j])
                    let tr_elem = $('<tr></tr>').appendTo('#table_cat')
                    tr_elem.append(`<td onclick="redirectToCat('${response[i].children[j].id}');" style="color: red">${response[i].children[j].name}</td>`);
                }
            }
        }

    })

    function redirectTo(id) {

        window.location.href = "/tag-posts/" + id;

    }

    function redirectToCat(id) {

        window.location.href = "/category-posts/" + id;

    }
</script>

{% block js %}
    <script>
        {#        {% for post in posts %}#}

        var url = "http://127.0.0.1:5000/post_list";

        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            success: function (data) {
                console.log(data)
                for (let i = 0; i <= data.length - 1; i++) {
                    var card = `<div class="container main-content">
                <div class="card" style="width: 18rem;" id="card${data[i]['_id']}">
                    <img class="card-img-top" src="${data[i]['photo']}"
                         alt="${data[i]['photo']}">
                        <div class="card-body">
                            <h5 class="card-title">${data[i]['title']}</h5>
                            <p class="card-text">${data[i]['body']}</p>
                        </div>
                </div>
            </div>`
                    $('.component').append(card)
                }
            }
        });
        {#        {% endfor %}#}
    </script>
{% endblock %}

