{% extends 'base.html' %}

{% block title %}
    WebBlog | Home
{% endblock %}

{% block left_items_in_nav %}
    {% if not g.user %}
        <a href="{{ url_for('blog.login') }}">
            <button type="button" class="btn navs-button">Login</button>
        </a>
    {% endif %}
    {% if not g.user %}
        <a href="{{ url_for('blog.sign_up') }}">
            <button type="button" class="btn navs-button">Sign up</button>
        </a>
    {% endif %}
    {% if g.user %}
        <a href="{{ url_for('blog.logout') }}">
            <button type="button" class="btn navs-button">Logout</button>
        </a>
    {% endif %}
    {% if g.user %}
        <a href="{{ url_for('user.create') }}">
            <button type="button" class="btn navs-button">New</button>
        </a>
    {% endif %}
    {% if g.user %}
        <a href="{{ url_for('user.posts_list') }}">
            <button type="button" class="btn navs-button">My Posts</button>
        </a>
    {% endif %}
    {% if g.user %}
        <a href="{{ url_for('user.profile') }}">
            <button type="button" class="btn navs-button">My Profile</button>
        </a>
    {% endif %}

{% endblock %}

{% block right_items_in_nav %}

    <form class="form-inline search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="button">Search</button>
    </form>

{% endblock %}

{% block right_col %}
    <div class="col-4">

        <br><br>
        <p>tags</p>
        <table id="table_tag" class="table-bordered">

        </table>
        <br><br>
        <p>categories</p>

        <table id="table_cat" class="table-bordered">

        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/tag_cat.js' ) }}"></script>
    <script>
        {#        {% for post in posts %}#}

        var url = "http://127.0.0.1:5000/post_list";

        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            success: function (data) {
                console.log(data)
                for (var obj of data) {
                    if (obj.status === 1) {
                        {#for (let i = 0; i <= data.length - 1; i++) {#}
                        var card = `<div class="container main-content">
                <div class="card" style="width: 18rem;" id="card${obj['_id']}">
                    <img class="card-img-top" src="${obj['img_path']}"
                         alt="${obj['photo']}">
                        <div class="card-body">
                            <h5 class="card-title">${obj['title']}</h5>
                            <p class="card-text">${obj['body']}</p>
                        </div>
                </div>
            </div>`
                        $('.component').append(card)
                    }
                }
            }
            //}
        });
        {#        {% endfor %}#}
    </script>
{% endblock %}

