{% extends 'base.html' %}


{% block title %}
    WebBlog | MY POSTS
{% endblock %}

{% block style %}
    <style>
        .component > div {
            margin-top: 79px;
            align-content: center;
            align-self: center;
        }

        .card {
            margin: 4px auto auto;
        }
    </style>
{% endblock %}

{% block right_items_in_nav %}
    <form class="form-inline search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="button">Search</button>
    </form>
{% endblock %}

{% block main %}
    {% for post in posts %}

        <div class="container main-content">
            <div class="card" style="width: 18rem;" id="card{{ post.id }}">
                <img class="card-img-top" src="{{ url_for('static', filename='' + post.photo) }}"
                     alt="{{ post.photo }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.body }}</p>

                    <a class="btn btn-deactive" title="deactive" id="deactive{{ post.id }}">
                        {% if post.status == 1 %}DEACTIVE{% elif post.status == 0 %}ACTIVE{% endif %}
                    </a>
                    <a class="btn edit" href="{{ url_for('user.edit', post_id=post.id) }}">Edit</a>
                    <a class="btn-delete" title="delete" id="delete{{ post.id }}">DELETE</a>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}

{% block js %}
    <script>
        {% for post in posts %}
            $('#delete{{ post.id }}').click(function () {
                const url = "http://127.0.0.1:5000/post_delete/{{ post.id }}";
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function () {
                        $('#card{{ post.id }}').remove()
                    },
                });
            });
        {% endfor %}
    </script>

    <script>
        {% for post in posts %}
            $('#deactive{{ post.id }}').click(function () {
                const url = "http://127.0.0.1:5000/post_deactive/{{ post.id }}";
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function () {
                        {#$('#deactive{{ post.id }}').click(function () {#}
                        if ($('#deactive{{ post.id }}').text() === 'ACTIVE') {
                            $('#deactive{{ post.id }}').text('DEACTIVE')

                        } else if ($('#deactive{{ post.id }}').text() === 'DEACTIVE') {
                            $('#deactive{{ post.id }}').text('ACTIVE')
                        }
                        {#     }#}
                        {#)#}

                    },
                });
            });
        {% endfor %}
    </script>
{% endblock %}