{% extends 'base.html' %}


{% block title %}
    WebBlog | MY POSTS
{% endblock %}

{% block style %}
    <style>
        .component > div {
            margin-top: 79px;
            align-content: center;
            align-self: center;
        }

        .card {
            margin: 4px auto auto;
        }
    </style>
{% endblock %}

{% block right_items_in_nav %}
    <form class="form-inline search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="button">Search</button>
    </form>
{% endblock %}

{% block main %}
    {% for post in posts %}
        <div class="container main-content">
            <div class="card" style="width: 18rem;" id="card{{ post.id }}">
                <img class="card-img-top" src="{{ url_for('static', filename='' + post.photo) }}"
                     alt="{{ post.photo }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.body }}</p>
                    <a class="btn add" onclick="DeleteFunction('{{ post.id }}')" title="add"
                       id="add{{ post.id }}">DEACTIVE</a>
                    <a class="btn edit" href="{{ url_for('user.edit', post_id=post.id) }}">Edit</a>
                    <a class="btn-delete"  title="delete" id="{{ post.id }}">DELETE</a>
                </div>
            </div>
        </div>

    {% endfor %}
<p id="myp">ali</p>
    <script>
    console.log('1')
    $(document).on("click", ".btn-delete", function(){
        console.log('2')
        $(this).parents(".card").remove();
        var id = $(this).attr("id");
        var string = id;
        $.post({{ url_for('api.post_delete')}}, { string: string}, function(data) {
            console.log('3')
            $("#myp").html('data');
        });
    });

    </script>

{% endblock %}
