{% extends 'base.html' %}


{% block title %}
    WebBlog | MY POSTS
{% endblock %}

{% block style %}
    <style>
        .component > div {
            margin-top: 79px;
            align-content: center;
            align-self: center;
        }

        .card {
            margin: 4px auto auto;
        }

        .card img {
            align-self: center;
            max-width: fit-content;
            max-height: 400px;
        }

        .card-option {
            display: flex;
            justify-content: flex-end;
        }

        .card-option button {
            margin-right: 10px;
        }

    </style>
{% endblock %}

{% block right_items_in_nav %}
    <form class="form-inline search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="button">Search</button>
    </form>
{% endblock %}

{% block main %}
    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <div class="container main-content">

            <div class="card mb-3" id="card{{ post.id }}">
                {% if post.photo %}
                <img class="card-img-top" src="{{ url_for('static', filename='/img/' + post.photo) }}"

                     alt="{{ post.photo }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.body }}</p>
                    <div class="card-option">
                        <button class="btn btn-warning btn-deactive" title="deactive"
                                id="deactive{{ post.id }}"></button>
                        <a href="{{ url_for('user.edit', post_id=post.id) }}">
                            <button class="btn btn-info edit">edit</button>
                        </a>
                        <button class="btn btn-danger btn-delete" title="delete" id="delete{{ post.id }}">delete
                        </button>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}

{% block js %}
    <script>
        {% for post in posts %}
            $('#delete{{ post.id }}').click(function () {
                const url = "http://127.0.0.1:5000/post_delete/{{ post.id }}";
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function () {
                        $('#card{{ post.id }}').remove()
                    },
                });
            });
        {% endfor %}
    </script>

    <script>
        {% for post in posts %}
            {% if post.status == 0 %}
                $('#deactive{{ post.id }}').text('active')
            {% elif post.status == 1 %}
                $('#deactive{{ post.id }}').text('deactive')
            {% endif %}
            $('#deactive{{ post.id }}').click(function () {
                const url = "http://127.0.0.1:5000/post_deactive/{{ post.id }}";
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function () {
                        if ($('#deactive{{ post.id }}').text() === 'active') {
                            $('#deactive{{ post.id }}').text('deactive')

                        } else if ($('#deactive{{ post.id }}').text() === 'deactive') {
                            $('#deactive{{ post.id }}').text('active')
                        }
                    },
                });
            });
        {% endfor %}
    </script>
{% endblock %}