
{% for post in posts %}



    <div class="card mb-3" id="card{{ post.id }}">
        {% if post.photo %}
        <img class="card-img-top" src="{{ url_for('static', filename='/img/' + post.photo) }}"
             alt="{{ post.photo }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body }}</p>
            <div class="card-option">
                <button class="btn btn-warning btn-deactive" title="deactive"
                        id="deactive{{ post.id }}"></button>
                <a href="{{ url_for('user.edit', post_id=post.id) }}">
                    <button class="btn btn-info edit">edit</button>
                </a>
                <button class="btn btn-danger btn-delete" title="delete" id="delete{{ post.id }}">delete
                </button>
            </div>
        </div>
    </div>

{% endfor %}

